[difftool "sourcetree"]
	cmd = 'C:/Program Files/Beyond Compare 4/BComp.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'C:/Program Files/Beyond Compare 4/BComp.exe' \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[user]
	email = raoul.dcunha@pushpay.com
	name = Raoul D'Cunha
[credential]
	helper = manager
	modalprompt = true
[diff]
	tool = bc3
	guitool = kdiff3
[difftool]
	prompt = false
[difftool "bc3"]
	cmd = 'C:/Program Files/Beyond Compare 4/BComp.exe' \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = bc3
[mergetool]
	prompt = false
[mergetool "bc3"]
	trustExitCode = true
	keepBackup = false
	cmd = \"c:/program files/beyond compare 4/bcomp.exe\" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[core]
	editor = nano
